In [6]:
import pyspark

In [7]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/21 12:33:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
spark

In [19]:
#read the dataset 
df_pyspark=spark.read.option('header','true').csv('insurance_data.csv',inferSchema=True)

In [20]:
# Check the schema 
df_pyspark.printSchema()

root
 |-- age: integer (nullable = true)
 |-- affordibility: integer (nullable = true)
 |-- bought_insurance: integer (nullable = true)

In [21]:
df_pyspark = spark.read.csv('insurance_data.csv',inferSchema=True,header=True)

In [23]:
df_pyspark.printSchema()

root
 |-- age: integer (nullable = true)
 |-- affordibility: integer (nullable = true)
 |-- bought_insurance: integer (nullable = true)

In [24]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [26]:
df_pyspark.head(3)

[Row(age=22, affordibility=1, bought_insurance=0),
 Row(age=25, affordibility=0, bought_insurance=0),
 Row(age=47, affordibility=1, bought_insurance=1)]

In [29]:
df_pyspark.select(['age','bought_insurance']).show()

+---+----------------+
|age|bought_insurance|
+---+----------------+
| 22|               0|
| 25|               0|
| 47|               1|
| 52|               0|
| 46|               1|
| 56|               1|
| 55|               0|
| 60|               1|
| 62|               1|
| 61|               1|
| 18|               0|
| 28|               0|
| 27|               0|
| 29|               0|
| 49|               1|
| 55|               1|
| 25|               1|
| 58|               1|
| 19|               0|
| 18|               0|
+---+----------------+
only showing top 20 rows

In [30]:
df_pyspark.dtypes

[('age', 'int'), ('affordibility', 'int'), ('bought_insurance', 'int')]

In [33]:
df_pyspark.describe().show()

+-------+------------------+------------------+------------------+
|summary|               age|     affordibility|  bought_insurance|
+-------+------------------+------------------+------------------+
|  count|                28|                28|                28|
|   mean|39.892857142857146|0.6785714285714286|               0.5|
| stddev|15.497524977340108|0.4755948656056709|0.5091750772173156|
|    min|                18|                 0|                 0|
|    max|                62|                 1|                 1|
+-------+------------------+------------------+------------------+

In [37]:
# Adding Columns 

df_pyspark=df_pyspark.withColumn('Age after 2 years',df_pyspark['age']+2)

In [38]:
df_pyspark.show()

+---+-------------+----------------+-----------------+
|age|affordibility|bought_insurance|Age after 2 years|
+---+-------------+----------------+-----------------+
| 22|            1|               0|               24|
| 25|            0|               0|               27|
| 47|            1|               1|               49|
| 52|            0|               0|               54|
| 46|            1|               1|               48|
| 56|            1|               1|               58|
| 55|            0|               0|               57|
| 60|            0|               1|               62|
| 62|            1|               1|               64|
| 61|            1|               1|               63|
| 18|            1|               0|               20|
| 28|            1|               0|               30|
| 27|            0|               0|               29|
| 29|            0|               0|               31|
| 49|            1|               1|               51|
| 55|            1|               1|               57|
| 25|            0|               1|               27|
| 58|            1|               1|               60|
| 19|            0|               0|               21|
| 18|            1|               0|               20|
+---+-------------+----------------+-----------------+
only showing top 20 rows

In [41]:
# Dropping the columns 

df_pyspark=df_pyspark.drop('Age after 2 years')

In [43]:
df_pyspark.show()

+---+-------------+----------------+
|age|affordibility|bought_insurance|
+---+-------------+----------------+
| 22|            1|               0|
| 25|            0|               0|
| 47|            1|               1|
| 52|            0|               0|
| 46|            1|               1|
| 56|            1|               1|
| 55|            0|               0|
| 60|            0|               1|
| 62|            1|               1|
| 61|            1|               1|
| 18|            1|               0|
| 28|            1|               0|
| 27|            0|               0|
| 29|            0|               0|
| 49|            1|               1|
| 55|            1|               1|
| 25|            0|               1|
| 58|            1|               1|
| 19|            0|               0|
| 18|            1|               0|
+---+-------------+----------------+
only showing top 20 rows